body {
  background-color: tan;
}
h1 {
  text-align: center;
}
ul {
  margin: 10px;
  padding: 0px;
  text-align: center;
}

li {
  list-style: none;
  border: solid black 2px;
  margin: 10px;
  width: 100px;
  display: inline-block;
  color: white;
  background-color: black;
}

img {
  width: 100px;
}

p {
  margin-top: 0px;
}